.center {
    text-align: center;
    font-size: 3em;
    margin-top: 2em;;
}

.form-input {
    margin-left: 36.6%;
}

.the-input {
    width: 30em;
    height: 2em;
}

.the-button {
    margin-left: 120px;
    margin-top: 20px;
}

button.the-button {
    width: 10em;
    height: 7em;
}