body {
  display: inline;
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.all-container {
  background-color: rbga(255, 255, 255, 0.5);
}

.the-title {
  text-align: center;
  font-size: 3em;
  margin-top: 2em;
}

.form-input {
  text-align: center;
}

.the-input {
  width: 30em;
  height: 2em;
}

.the-button {
  text-align: center;
}

button.the-button {
  width: 10em;
  height: 7em;
}
